@import '../../Res/Styles/colors.scss';

.form {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.textarea_comment {
  font-size: 14px;
  width: 280px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgba(#000000, .3);
  border-radius: 5px;
  padding: 5px 8px;
  margin: 0 15px 10px 0;
  resize: none;
  outline: none;
  transition: border-color .3s ease-out;
  &:focus, &:hover {
    border-color: rgba(#000000, 1);
  }
}