.sort_select_wrapper {
  width: 100px;
  margin: 0 20px !important;
}

.sort_select {
  font-size: 14px;
}

.menu_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
}